< h3 > Criar sala </ h3 >
< div  [escondido] = " submetido " style = " largura: 400px; " >
  < form  (ngSubmit) = " onSubmit () " >
    < div  class = " form-group " >
      < label  for = " name " > nome </ label >
      < input  type = " text " class = " form-control " id = " name " obrigatório  [(ngModel)] = " room.name " name = " name " >
    </ div >

    < div  class = " form-group " >
      < label  for = " name " > data </ label >
      < input  type = " text " class = " form-control " id = " date " obrigatório  [(ngModel)] = " room.date " name = " date " >
    </ div >

    < div  class = " form-group " >
      < label  for = " name " > startHour </ label >
      < input  type = " text " class = " form-control " id = " startHour " obrigatório  [(ngModel)] = " room.startHour " name = " startHour " >
    </ div >

    < div  class = " form-group " >
        < label  for = " name " > endHour </ label >
        < input  type = " text " class = " form-control " id = " endHour " obrigatório  [(ngModel)] = " room.endHour " name = " endHour " >
      </ div >

    < button  type = " submit " class = " btn btn-success " > Enviar </ button >
  </ form >
</ div >

< div  [oculto] = " ! enviado " >
  < button  class = " btn btn-success " (click) = " newRoom () " > Adicionar </ button > - >
</ div >