< h2 > Detalhes da sala </ h2 > 

< hr />
< div  * ngIf = " room " >
  < div >
    < label > < b > Nome </ b > </ label > {{room.name}}
  </ div >
  < div >
    < label > < b > data </ b > </ label > {{room.date}}
  </ div >
  < div >
    < label > < b > startHour </ b > </ label > {{room.startHour}}
  </ div >
    < div >
    < label > < b > endHour </ b > </ label > {{room.endHour}}
  </ div >
</ div >

< Br >
< Br >
< Botão  (click) = " list () " class =" btn btn-primária " > Voltar à lista de quartos </ botão > < br >